app-template:
  controllers:
    main:
      strategy: Recreate
      containers:
        main:
          image:
            # -- image repository
            repository: crocodilestick/calibre-web-automated
            # -- image tag
            # this example is not automatically updated, so be sure to use the latest image
            tag: V3.1.4
            # -- image pull policy
            pullPolicy: IfNotPresent
          env:
            TZ: America/Los_Angeles
  service:
    main:
      controller: main
      ports:
        http:
          port: 8083
  ingress:
    # -- Enable and configure ingress settings for the chart under this key.
    main:
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/target: "tunnel.2411.house"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      hosts:
        - host: calibre.2411.house
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: calibre-web-config
      globalMounts:
        - path: /config
    ingest:
      type: persistentVolumeClaim
      enabled: true
      existingClaim: cwa-ingest
      globalMounts:
        - path: /cwa-book-ingest
    library:
      type: persistentVolumeClaim
      enabled: true
      existingClaim: cwa-lib
      globalMounts:
        - path: /calibre-library
    data-cache:
      existingClaim: cwa-cache
      globalMounts:
        - path: /cache
