paperless-ngx:
  image:
    # -- Image repository
    repository: ghcr.io/paperless-ngx/paperless-ngx
    # -- Image pull policy
    pullPolicy: IfNotPresent
    # -- Image tag
    tag: 2.20.0

  # -- Environment variables [[ref]](https://docs.paperless-ngx.com/configuration/)
  # @default -- See [values.yaml](./values.yaml)
  env:
    # -- Set the container timezone
    TZ: America/Los_Angeles
    # PAPERLESS_SECRET_KEY: ""
    PAPERLESS_DATE_ORDER: MDY
    PAPERLESS_ENABLE_HTTP_REMOTE_USER: true
    PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_CF_ACCESS_AUTHENTICATED_USER_EMAIL

  service:
    # -- Configures service settings for the chart.
    # @default -- See [values.yaml](./values.yaml)
    main:
      ports:
        http:
          port: 8000
        metrics:
          port: 8081

  ingress:
    # -- Enable and configure ingress settings for the chart under this key.
    # @default -- See [values.yaml](./values.yaml)
    main:
      ingressClassName: nginx
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: 64m
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: "tunnel.2411.house"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      tls: true
      hosts:
        - host: &host paperless.2411.house
          paths:
            - path: /
      tls:
        - hosts:
            - *host
          secretName: paperless-tls-secret

  persistence:
    # -- Configure data volume settings for the chart under this key.
    # @default -- See [values.yaml](./values.yaml)
    data:
      enabled: true
      retain: true
      mountPath: /usr/src/paperless/data
      # storageClass: ""
      accessMode: ReadWriteOnce
      size: 4Gi
    # -- Configure media volume settings for the chart under this key.
    # @default -- See [values.yaml](./values.yaml)
    media:
      enabled: true
      retain: true
      mountPath: /usr/src/paperless/media
      # storageClass: ""
      accessMode: ReadWriteOnce
      size: 8Gi
    # -- Configure export volume settings for the chart under this key.
    # @default -- See [values.yaml](./values.yaml)
    export:
      enabled: true
      retain: true
      mountPath: /usr/src/paperless/export
      # storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
    # -- Configure consume volume settings for the chart under this key.
    # @default -- See [values.yaml](./values.yaml)
    consume:
      enabled: true
      retain: true
      mountPath: /usr/src/paperless/consume
      # storageClass: ""
      accessMode: ReadWriteOnce
      size: 4Gi

  # -- Enable and configure postgresql database subchart under this key.
  #    If enabled, the app's db envs will be set for you.
  #    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/postgresql)
  # @default -- See [values.yaml](./values.yaml)
  postgresql:
    image:
      repository: bitnamilegacy/postgres
    enabled: true
    auth:
      database: paperless
      postgresPassword: paperless
    primary:
      persistence:
        enabled: true
        # storageClass: ""
        size: 8Gi

  # -- Enable and configure mariadb database subchart under this key.
  #    If enabled, the app's db envs will be set for you.
  #    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/mariadb)
  # @default -- See [values.yaml](./values.yaml)
  mariadb:
    enabled: false
    auth:
      database: paperless
      username: paperless
      password: changeme
      rootPassword: changeme
    primary:
      persistence:
        enabled: false
        # storageClass: ""
        # size: 8Gi

  # -- Enable and configure redis subchart under this key.
  #    If enabled, the app's Redis env will be set for you.
  #    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/redis)
  # @default -- See [values.yaml](./values.yaml)
  redis:
    image:
      repository: bitnamilegacy/redis
      tag: 7.2.4-debian-12-r12
    enabled: true
    auth:
      enabled: true
      username: ""
      # Use an existing secret for redis auth. Do this if you're using Argo to manage your instance or otherwise using helm template under the hood
      #     The secret name can vary, but the password key must be redis-password.
      existingSecret: paperless-redis
      existingSecretPasswordKey: redis-password
    master:
      persistence:
        enabled: false
    replica:
      replicaCount: 0
  sidecars:
    exporter:
      image: ghcr.io/hansmi/prometheus-paperless-exporter:latest
      env:
        PAPERLESS_URL: http://localhost:8000
        PAPERLESS_SERVER_TIMEZONE: America/Los_Angeles
        PAPERLESS_AUTH_TOKEN:
          valueFrom:
            secretKeyRef:
              name: metrics-secret
              key: PAPERLESS_AUTH_TOKEN

      ports:
        - name: metrics
          containerPort: 8081
      readinessProbe:
        httpGet:
          path: /metrics
          port: metrics
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 30
      livenessProbe:
        httpGet:
          path: /metrics
          port: metrics
        timeoutSeconds: 30
        initialDelaySeconds: 15
        periodSeconds: 20
  serviceMonitor:
    main:
      # -- Enables or disables the serviceMonitor.
      enabled: true

      # -- Override the name suffix that is used for this serviceMonitor.
      nameOverride: ""

      # -- Provide additional annotations which may be required.
      annotations: {}

      # -- Provide additional labels which may be required.
      labels: {}

      # -- Configures a custom selector for the serviceMonitor, this takes precedence over
      # specifying a service name.
      # Helm templates can be used.
      selector: {}

      # -- Configures the target Service for the serviceMonitor. Helm templates can be used.
      serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'

      # -- Configures the endpoints for the serviceMonitor. Helm templates can be used.
      # @default -- See values.yaml
      endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 30s

      # -- Configures custom targetLabels for the serviceMonitor. (All collected
      # meterics will have these labels, taking the value from the target service)
      # [[ref]](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#servicemonitorspec/)
      targetLabels: []
  
